<div class="uk-slidenav-position" data-uk-slideshow>
  <ul class="uk-slideshow">
    {% for item in blok.body %}
      <li>
        {% include item.component with blok: item %}
      </li>
    {% endfor %}
  </ul>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
  <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
    {% for item in blok.body %}
      <li data-uk-slideshow-item="{{ forloop.index0 }}"><a href=""></a></li>
    {% endfor %}
  </ul>
</div>
