<img src="{{ blok.image }}" />
{{ blok._editable }}
<div class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center {{ blok.styles|join(' ') }}">
  <div class="uk-contrast">
    <h2>{{ blok.headline }}</h2>
    {% if blok.button_text != blank %}
      <a href="{{ blok.button_link|url }}" class="uk-button uk-button-large">
        {{ blok.button_text }}
      </a>
    {% endif %}
  </div>
</div>
