{{ blok._editable }}
<div class="uk-overflow-container">
<table class="uk-table uk-table-striped table {{ blok.styles|join(' ') }}" style="min-width:600px;">
  <thead>
    <tr>
      {% for th in blok.table.thead %}
        <th>{{ th }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for tr in blok.table.tbody %}
      <tr>
        {% for td in tr %}
          <td>{{ td|newline_to_br }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
