<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Axis Linz - {{ story.name }}</title>
  <link href="{{ 'assets/theme.css' | asset_url }}" rel="stylesheet" type="text/css">
  <link rel="preconnect" href="//cdnjs.cloudflare.com" crossorigin>
  <style type="text/css">
    @font-face {
      font-family: 'FontAwesome';
      src: url("//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/fonts/fontawesome-webfont.woff2") format('woff2'), url("//cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/fonts/fontawesome-webfont.woff") format("woff");
      font-weight: normal;
      font-style: normal;
    }
  </style>
</head>
<body>
  {% set global from story id:'global' %}

  <div class="tm-navbar" data-uk-sticky='{"media":767,"showup":true,"animation":"uk-animation-slide-top","top":".uk-sticky-placeholder + *"}'>
    <div class="uk-container uk-container-center">

      <nav class="uk-navbar">

        <a class="uk-navbar-brand" href="/">
          <img class="tm-logo" src="{{ global.content.logo }}" alt="">
        </a>

        <div class="uk-navbar-flip uk-hidden-small">
          <ul class="uk-navbar-nav">
            {% for navitem in global.content.navitems %}
              {% assign link = navitem.link | url %}
              <li{% if navitem.link.id == story.uuid %} class="uk-active"{% endif %}>
                <a href="{{ link }}">{{ navitem.name }}</a>
              </li>
            {% endfor %}
            {% if global.content._editable %}
              <li>
                <a href="/global"><i class="uk-icon-cog"></i> Settings</a>
              </li>
            {% endif %}
          </ul>
        </div>

        <div class="uk-navbar-flip uk-visible-small">
          <a href="#offcanvas" class="uk-navbar-toggle" data-uk-offcanvas></a>
        </div>

      </nav>

    </div>
  </div>

  {% if story.content.component != 'layout_setting' %}
    {{ story.content._editable }}
    <div class="yield">
      {% include story.content.component with blok: story.content, title: story.name, date: story.created_at %}
    </div>
  {% else %}
    {{ global.content._editable }}
    <div id="tm-main" class="tm-main uk-block uk-block-default">
      <div class="uk-container uk-container-center">
        <article class="uk-article uk-text-center">
          <h1>Settings</h1>
          <h2>This page is for setting the global layout and nav items.</h2>
          <p>Click here to edit the settings in the Storyblok sidebar.</p>
        </article>
      </div>
    </div>
    {% assign settings_page = true %}
  {% endif %}


  <div id="tm-footer" class="tm-footer uk-block uk-block-secondary uk-contrast">
    <div class="uk-container uk-container-center">

      <section class="uk-grid uk-grid-match" data-uk-grid-margin>
        <div class="uk-width-medium-1-1">

          <div class="uk-panel">


            <ul class="uk-grid uk-grid-medium uk-flex uk-flex-center">
              {% for navitem in global.content.footer_left %}
                {% assign link = navitem.link | url %}
                <li>
                  <a href="{{ link }}" class="uk-icon-hover">
                    {% if navitem.icon != blank %}
                      <i class="uk-icon-small {{ navitem.icon }}"></i>
                    {% endif %}
                    {{ navitem.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>

            <ul class="uk-subnav uk-margin uk-flex uk-flex-center">
              {% for navitem in global.content.footer_right %}
                {% assign link = navitem.link | url %}
                <li>
                  <a href="{{ link }}">
                    {{ navitem.name }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>

        </div>
      </section>

    </div>
  </div>

  <div id="offcanvas" class="uk-offcanvas">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-flip">
      <ul class="uk-nav uk-nav-offcanvas">

        {% for navitem in global.content.navitems %}
          {% assign link = navitem.link | url %}
          <li>
            <a href="{{ link }}">{{ navitem.name }}</a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>

  <script type="text/javascript" src="{{ 'assets/js/scripts.js' | asset_url }}"></script>
  <script type="text/javascript" src="//app.storyblok.com/storyblok-latest.js"></script>
  <script type="text/javascript">

    storyblok.init({
      accessToken: '{{ public_token }}'
    });

    storyblok.on('change', function() {
      location.reload(true);
    });

    storyblok.pingEditor(function() {
      if (storyblok.inEditor) {
        storyblok.enterEditmode();
      }
    });

  </script>
</body>
